<div class="scripts-container">
    @if(scripts.length > 0){
        @for ( resource of scripts; track resource.id){
            <div class="script-card">
                <h3>{{ resource.title }}</h3>
                <p>{{ resource.description }}</p>
                @if(resource.price === 0){
                    <span>Gratis</span>
                } @else {
                    <span>Precio: {{ resource.price }}€</span>
                }
                @if(resource.price === 0){
                    <button class="btn-download">Descargar</button>
                }@else {
                    <button class="btn-buy">Comprar</button>
                }
            </div>
        }
     }@else if (errorMessage) {
        <p>{{ errorMessage }}</p>
    } @else {
        <p>Cargando scripts...</p>
    } 
</div>