<div class="button-container">
    <nav>
        <div class="logo-container">
            <img src="assets/image.png" alt="DevPlace Logo" class="logo" />
          </div>
          @if(authService.isAuthenticated()){
            <button routerLink="/home-logged" class="btn btn-home">Home</button>
            <button routerLink="/scripts" class="btn btn-scripts">Scripts</button>
            <button routerLink="/myscripts" class="btn btn-scripts">Mis scripts</button>
            <button routerLink="/script-create" class="btn btn-scripts">Subir Script</button>
            <button (click)="logout()" class="btn btn-scripts">Cerrar sesion</button>
          }@else {
            <button routerLink="/" class="btn btn-home">Home</button>
            <button routerLink="/login" class="btn btn-login">Login</button>
        <button routerLink="/register" class="btn btn-register">Registro</button>
          }
    </nav>
</div>