<div class="home-container">
    <section class="principal">
        <div class="principal-content">
            <h1>DevPlace</h1>
            <h2>El mejor lugar para intercambiar conocimientos</h2>
            <p>Conéctate con expertos y aprende de las mejores experiencias en tecnología.</p>
            <a href="/script-create" class="btn-primary">Sube tus scripts!</a>
        </div>
    </section>

    <section class="benefits">
        <h2>¿Por qué DevPlace?</h2>
        <div class="benefit-item">
            <h3>Conéctate con expertos</h3>
            <p>Accede a una red de profesionales con experiencia en diferentes tecnologías.</p>
        </div>
        <div class="benefit-item">
            <h3>Contenido exclusivo</h3>
            <p>Disfruta de contenido exclusivo y tutoriales de alta calidad.</p>
        </div>
        <div class="benefit-item">
            <h3>Comunidad activa</h3>
            <p>Participa en una comunidad activa donde puedes resolver dudas y compartir conocimientos.</p>
        </div>
    </section>

    <section class="principal">
        <h2>Comienza tu viaje con DevPlace</h2>
        <p>Empieza a aprender hoy mismo, explora los scripts de los usuarios</p>
        <a href="/scripts" class="btn-primary">Scripts</a>
    </section>

</div>
