{% extends 'base.html.twig' %}

{% block title %}New Script{% endblock %}

{% block body %}
    <h1>Create new Script</h1>

    {{ include('script/_form.html.twig') }}

    <a href="{{ path('app_script_index') }}">back to list</a>
{% endblock %}
