  <div class="container">
    <h2>Iniciar sesión</h2>
    <form (ngSubmit)="onLoginSubmit()">
      <div class="form-group">
        <label for="email">Nombre de usuario:</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="email" name="email" required />
      </div>
      <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required />
      </div>
      <button class="btn btn-primary" type="submit">Iniciar sesión</button>
    </form>
  </div>
  
  