<div class="scripts-container">
  @if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
  } @else {
    @if (!loading && scripts.length === 0) {
      <p>No tienes scripts todavía.</p>
    } @else {
      @for ( script of scripts; track script.id) {
        <div class="script-card">
            <h3>{{ script.title }}</h3>
            <p>{{ script.description }}</p>
          @if (script.price === 0) {
            <span>Gratis</span>
            <button class="btn-download"
                    (click)="descargarScript(script.id, script.title)">
              Descargar
            </button>
          } @else {
            <span>Precio: {{ script.price }} €</span>
            <button class="btn-buy">Comprar</button>
          }
          <div class="actions">
            <button class="btn-download" (click)="onEditScript(script.id)">Editar
            </button>
            <button class="btn-download" (click)="onDeleteScript(script.id)">Eliminar
            </button>
          </div>
        </div>
      }
    }
  }
</div>
