<div class="container">
  <h2>Subir nuevo Script</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">

      <label>Título<input class="form-control" [(ngModel)]="title" name="title" required></label>

      <label>Descripción<textarea class="form-control" [(ngModel)]="description" name="description"
          required></textarea></label>

      <label>Precio<input class="form-control" type="number" [(ngModel)]="price" name="price" min="0" required></label>

      <label>Fecha de creación<input class="form-control" type="datetime-local" [(ngModel)]="createdAt" name="createdAt"
          required></label>

      <label>Archivo<input type="file" class="form-control" (change)="onFileSelected($event)" accept="*/*"
          required></label>

      <button class="btn btn-primary" type="submit">Crear Script</button>
    </div>
  </form>
</div>